<div>
<%= cl_image_tag("laq1ffrbekqjb3hshkrc", width: 200, height: 300, crop: :fill) %>
<%= cl_image_tag("kotklax1mne6knvbvkzp", width: 300, height: 300, crop: :fill) %>
<%= cl_image_tag("vkidf95ovxj08fyj4gfk", width: 200, height: 300, crop: :fill) %>
<%= cl_image_tag("ldmowcon7pwtydu62sk4", width: 750, height: 300, crop: :fill) %>
</div>

<h1>Here are your movie categories:</h1>
<ul><% @lists.each do |list| %>
<%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
<li><%= link_to list.name, list_path(list) %></li>
<% end %></ul>
<h4><%= link_to "add a new list", new_list_path %></h4>
<h4><%= link_to "see bookmarks", bookmarks_path %></h4>
